<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="reminder">add_alert</mat-icon>
</button>
<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="add peron">person_add</mat-icon>
</button>

<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="delete" (click)="trashNote()">delete
    </mat-icon>
</button>

<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="archive" (click)="archiveNote()">archive
    </mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="more">more_vert</mat-icon>   
</button>
