@import '../../../style/constant.scss';

.mat-icon {
    font-size: 18px;
    // color: $white;
}

.input {
    height: 10px;
}

.mat-menu-item {
    height: 20px;
}

.mat-menu .div {
    width: 200px;
    height: 100px;
}
@mixin color {
    width: 25px;
    height: 25px;
    margin: 3px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid $borderColor;
  }

  .color-one {
    @include color();
    background-color: $white;
  }

  .color-two {
    @include color();
    background-color: $palletRed;
  }

  .color-three {
    @include color();
    background-color: $palletOrange;
  }

  .color-four {
    @include color();
    background-color: $palletYellow;
  }

  .color-five {
    @include color();
    background-color: $palletGreen;
  }

  .color-six {
    @include color();
    background-color: $palletCan;
  }
  .color-seven {
    @include color();
    background-color: $palletLightBlue;
  }
  .color-eight {
    @include color();
    background-color: $palletBlue;
  }

  .color-nine {
    @include color();
    background-color: $palletPurpl;
  }

  .color-ten {
    @include color();
    background-color: $palletPink;
  }

  .color-eleven {
    @include color();
    background-color: $palletLightOrange;
  }

  .color-twelve {
    @include color();
    background-color: $palletFaint;
  }
  
  .mat-icon {
    font-size: 18px;
  }
  
  .pallet {
    padding: 5px;
  }