<div  *ngIf="!isTrash &&!isArchive">
<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="reminder">add_alert</mat-icon>
</button>

<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="add peron">person_add</mat-icon>
</button>

<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="add image">perm_media</mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="change color">color_lens</mat-icon>
</button>

<button mat-icon-button>
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="archive" (click)="archiveNote()">archive
    </mat-icon>
</button>

<button mat-icon-button [matMenuTriggerFor]="menu1">
    <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="more">more_vert</mat-icon>   
</button>

</div>


<mat-menu #menu="matMenu" fxLayout="row">
    <div fxLayoutAlign="space-around center" class="pallet">
        <div class="color-one" (click)="getColor('#fff')">           
        </div>
        <div class="color-two" (click)="getColor('#f28b82')"></div>
        <div class="color-three" (click)="getColor('#fbbc04')"></div>
        <div class="color-four" (click)="getColor('#fff475')"></div>
    </div>
    <div fxLayoutAlign="space-around center" class="pallet">
        <div class="color-five" (click)="getColor('#ccff90')"></div>
        <div class="color-six" (click)="getColor('#a7ffeb')"></div>
        <div class="color-seven" (click)="getColor('#cbf0f8')"></div>
        <div class="color-eight" (click)="getColor('#aecbfa')"></div>
    </div>

    <div fxLayoutAlign="space-around center" class="pallet">
        <div class="color-nine" (click)="getColor('#d7aefb')"></div>
        <div class="color-ten" (click)="getColor('#fdcfe8')"></div>
        <div class="color-eleven" (click)="getColor('#e6c9a8')"></div>
        <div class="color-twelve" (click)="getColor('#e8eaed')"></div>
    </div>
</mat-menu>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item (click)="trashNote()">Trash Note</button>       
    </mat-menu>

    <div  *ngIf="isTrash">

        <button mat-icon-button>
            <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="Untrash Note" (click)="trashNote()">restore_from_trash
            </mat-icon>
        </button>
        
        <button mat-icon-button>
            <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="Delete Permanently"  (click)="deleteNotes()">delete_sweep</mat-icon>   
        </button>

    </div>

    <div  *ngIf="isArchive">
        <button mat-icon-button>
            <mat-icon class="material-icons-outlined" #tooltip="matTooltip" matTooltip="UnArchive Note" (click)="archiveNote()">unarchive
            </mat-icon>
        </button>

    </div>