.form-field {
    width: 49%;
    padding-right: 1%;
}

.name-field {
    width: 100%;
}

.main {
    margin-top: 10%;
}

.card {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signin {
    text-decoration: none;
    color: blue;
    font-size: 30;
}

.image {
    width: 400px;
}

.fundoo {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blue {
    color: #4285f4;
}

.yellow {
    color: #fbbc05;
}

.red {
    color: #ea4335;
}

.green {
    color: #34a853;
}