<div fxLayout="row" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10">
        <mat-card class="card">
            <div fxFlex="70%" class="page">
                <div class="fundoo">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                <div class="heading">Create your account</div>
                <form [formGroup]="form">
                    <div>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" formControlName="firstFormControl" autocomplete="off" required>
                            <mat-error *ngIf="form.controls.firstFormControl.hasError('required')">
                                first name is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.firstFormControl.hasError('pattern') && !form.controls.firstFormControl.hasError('required')">
                                please enter valid name
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput type="text" formControlName="lastFormControl" autocomplete="off" required>
                            <mat-error *ngIf="form.controls.lastFormControl.hasError('required')">
                                last name is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.lastFormControl.hasError('pattern') && !form.controls.lastFormControl.hasError('required')">
                                please enter valid name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="name-field" appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput type="text" formControlName="emailFormControl" autocomplete="off" required>
                            <mat-hint>You can use letter, number & period</mat-hint>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
                                email is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('email')&& !form.controls.emailFormControl.hasError('required')">
                                please enter valid email id
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label for="password">Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passFormControl" autocomplete="off" required>
                            <mat-error *ngIf="form.controls.passFormControl.hasError('required')">
                                password is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.passFormControl.hasError('pattern') && !form.controls.passFormControl.hasError('required')">
                                password must have atleast 1 letter, 1 number, 1symbol and 8 char long
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passConfirmFormControl" autocomplete="off" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="form.controls.passFormControl.hasError('required')">
                                confirm password is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.passConfirmFormControl.valid">
                                password not matching
                            </mat-error>
                        </mat-form-field>

                    </div>
                    <div>
                        <span fxLayout="row" fxLayoutAlign="space-between end">
                            <a href="/login" class="signin">sign In instead</a>
                            <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">Next</button>
                        </span>
                    </div>
                </form>
            </div>
            <div fxFlex="30%" fxLayoutAlign="center center">
                <img src="../../../assets/images/account.svg" class="image">
            </div>
        </mat-card>
    </div>
</div>