<div fxLayout="row">
    <mat-toolbar class="header">
        <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
        <span>Fundoo Note</span>
        <mat-card class="input-card">
            <mat-icon>search</mat-icon>
            <div class="input-feild">
                <input type="search" placeholder="search">
            </div>
        </mat-card>
        <span class="settings"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    </button>
        <mat-menu #menu="matMenu">
            <div class="userDetail">
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                </div>
                <div>Name: {{name}}</div>
                <div>Email: {{email}}</div>
                <div fxLayout="row wrap" fxLayoutAlign="end ">
                    <button mat-stroked-button type="submit" (click)="logout()">logout</button>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>

<mat-drawer #drawer class="sidenav" mode="side" (mouseleave)="drawer.toggle()" (mouseleave)="changeVisiblity()" class="slider">
    <mat-selection-list [multiple]="false">
        <mat-list-option>Note</mat-list-option>
        <mat-list-option>Reminder</mat-list-option>
        <mat-list-option>Edit lable</mat-list-option>
        <mat-list-option>Archive</mat-list-option>
        <mat-list-option>Bin</mat-list-option>
    </mat-selection-list>
</mat-drawer>