<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<div fxLayout="row">
    <mat-toolbar class="header">
        <button mat-icon-button (click)="drawer.toggle()" (click)="changeVisiblity()">
      <mat-icon>menu</mat-icon>
    </button>
        <img src="../../../assets/image/keepIcon.png">
        <span>Fundoo Note</span>
        <mat-card class="input-card">
            <mat-icon>search</mat-icon>
            <div class="input-feild">
                <input type="search" placeholder="search">
            </div>
        </mat-card>
        <span class="settings"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
    </button>
        <mat-menu #menu="matMenu">
            <div class="userDetail">
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <mat-icon class="material-icons-outlined">account_circle</mat-icon>
                </div>
                <div>Name: {{name}}</div>
                <div>Email: {{email}}</div>
                <div fxLayout="row wrap" fxLayoutAlign="end ">
                    <button mat-stroked-button type="submit" (click)="logout()">logout</button>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>
<mat-drawer-container class="container" autosize>
    <div>
        <div fxFlex="10%">
            <span class="nav" *ngIf="checkVisiblity()" (mouseleave)="changeVisiblity()">
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">emoji_objects</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined" (mouseenter)="drawer.toggle()">archive</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (mouseenter)="drawer.toggle()" class="material-icons-outlined">delete</mat-icon>
        </button>
      </span>
        </div>
        <div fxFlex="90%" fxLayoutAlign="center " class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>
<mat-drawer #drawer class="sidenav" mode="side" (mouseleave)="drawer.toggle()" (mouseleave)="changeVisiblity()" class="slider">
    <mat-selection-list [multiple]="false">
        <mat-list-option class="option" routerLink="/dashboard/notes" #note [selected]="note">
            <div>
                <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
                Note
            </div>
        </mat-list-option>
        <mat-list-option>Reminder</mat-list-option>
        <mat-list-option>Edit lable</mat-list-option>
        <mat-list-option>Archive</mat-list-option>
        <mat-list-option>Bin</mat-list-option>
    </mat-selection-list>
</mat-drawer>