<div fxLayout="row">
    <mat-toolbar class="header">
        <button mat-icon-button (click)="drawer.toggle()" (click)="changeVisiblity()">
      <mat-icon>menu</mat-icon>
    </button>
        <img src="../../../assets/images/keep.png">
        <span>Fundoo Note</span>
        <mat-card class="input-card">
            <mat-icon>search</mat-icon>
            <div class="input-feild" >
                <input type="search" placeholder="search">
            </div>
        </mat-card>
        <span class="settings"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <!-- <mat-icon class="material-icons-outlined">account_circle</mat-icon> -->
      <img class="img" src="../../../assets/images/mm.jpg" alt="Avatar">
    </button>
        <mat-menu #menu="matMenu" class="menu">
            <div class="userDetail">
                <div fxLayout="row wrap" fxLayoutAlign="center">
                    <img class="img" src=" ../../../assets/images/mm.jpg " alt="Avatar ">
                </div>
                <div fxLayoutAlign="center" class="name">{{name}}</div>
                <div fxLayoutAlign="center" class="email">{{email}}</div>
                <div fxLayout="row wrap " fxLayoutAlign="center">
                    <button mat-stroked-button type="submit " (click)="logout() ">Logout</button>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>
<mat-drawer-container class="container">
    <div fxFlex.xs="90">
        <div fxFlex="10% ">        
            <span class="nav " *ngIf="checkVisiblity() " (mouseleave)="changeVisiblity() ">
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined " (mouseenter)="drawer.toggle() ">emoji_objects</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined " (mouseenter)="drawer.toggle() ">notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined " (mouseenter)="drawer.toggle() ">create</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="material-icons-outlined " (mouseenter)="drawer.toggle() ">archive</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (mouseenter)="drawer.toggle() " class="material-icons-outlined ">delete</mat-icon>
        </button>
      </span>
        </div>
        <div fxFlex="column" fxFlex="90%" class="content " fxLayout="column wrap" fxLayoutGap="35px grid">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</mat-drawer-container>
<mat-drawer #drawer class="sidenav " mode="side " (mouseleave)="drawer.toggle() " (mouseleave)="changeVisiblity() " class="slider ">
    <mat-selection-list [multiple]="false ">
        <mat-list-option class="option " routerLink="/dashboard/notes " #note [selected]="note ">
            <!-- <mat-icon class=" material-icons-outlined " fxFlex="column ">emoji_objects</mat-icon> -->
            Notes
        </mat-list-option>
        <mat-list-option class="option ">Reminder</mat-list-option>
        <mat-list-option class="option ">Edit lable</mat-list-option>
        <mat-list-option class="option ">Archive</mat-list-option>
        <mat-list-option class="option ">Bin</mat-list-option>
    </mat-selection-list>
</mat-drawer>