        .back-card .mat-form-field {
            width: 90%;
            height: 7px;
        }
        
        .front-card {
            display: flex;
            align-items: center;
            width: 600px;
            height: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
           
        }
        @media only screen and (max-width: 750px) {
            .front-card{
                width: 400px;
            }
        }
        @media only screen and (max-width: 520px) {
            .front-card{
                width: 300px;
               margin-left: 8%;
            }
        }
        @media only screen and (max-width: 370px) {
            .front-card{
                width: 300px;
                margin-left: 5%;
                margin-top: -10px;
            }
        }
        .back-card {
            width: 500px;
            border-radius: 10px;
           
        }
        
        .mat-icon {
            cursor: pointer;
        }
        
        .settings {
            flex: 1 1 auto;
        }
        
        .mat-form-field {
            width: 90%;
        }
        
        .material-icons-outlined {
            padding: 0px 10px 0px 10px;
        }
        
        .div {
            margin-top: 8px;
        }
        
        .input {
            margin-left: 9px;
        }