<div fxLayout="column">
    <div fxLayoutAlign="center">
        <div>
            <mat-card (click)="reset=false" *ngIf="reset" class="front-card">
                <mat-form-field appearance="none">
                    <input matInput placeholder="Take a note..." autocomplete="off">                   
                </mat-form-field>
                <img class="material-icons-outlined" src="../../../assets/images/download.svg">
                <mat-icon class="material-icons-outlined">create</mat-icon>
                <mat-icon class="material-icons-outlined">perm_media</mat-icon>
            </mat-card>
            <mat-card *ngIf="!reset" class="back-card">
                <form>
                    <mat-form-field appearance="none" class="input">
                        <input matInput autocomplete="off" placeholder="Title" [formControl]="title" required>
                    </mat-form-field>
                    <button mat-icon-button>
            <mat-icon class="material-icons-outlined" (click)="changeNotePinned()" (click)="reset=true" >
              {{!notePinned ? 'push_pin':'done'}}
            </mat-icon>
          </button>
                    <mat-form-field appearance="none" class="input">
                        <input matInput placeholder="Take a note" autocomplete="off" autofocus [formControl]="message" required>
                    </mat-form-field>
                    <span fxLayout="row" fxLayoutAlign="space-between start" class="div">
                    <app-icons></app-icons>                    
                    <button type="button" mat-button (click)="addNote()">close</button>
                    </span>
                </form>
            </mat-card>
        </div>
    </div>
</div>