<div fxLayout="column">
    <div fxLayoutAlign="center">
        <div>
            <mat-card (click)="reset=false" *ngIf="reset" class="front-card">
                <mat-form-field appearance="none">
                    <input matInput placeholder="Take a note..." autocomplete="off">                   
                </mat-form-field>
            </mat-card>
            <mat-card *ngIf="!reset" class="back-card">
                <form>
                    <mat-form-field appearance="none" class="input">
                        <input matInput autocomplete="off" placeholder="Title" [formControl]="title" required>
                    </mat-form-field>
                    <mat-form-field appearance="none" class="input">
                        <input matInput placeholder="Take a note" [multiline]='true' rows="3" autocomplete="off" autofocus [formControl]="message" required>
                    </mat-form-field>
                    <span fxLayout.xs="column" fxLayout="row" fxLayoutAlign.xs="start end" fxLayoutAlign="space-between start" class="div">
                    <app-icons></app-icons>                    
                    <button type="submit" mat-button (click)="addNote()">close</button>
                    </span>
                </form> 
            </mat-card>
        </div>
    </div>
</div>