<div fxLayout="row wrap" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="card">
            <form [formGroup]="form">
                <div fxLayout="row" fxLayoutAlign="center center" class="fundoo">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="heading">Account Recovery</div>
                <form>
                    <div>
                        <mat-form-field class="login-form-field" appearance="outline">
                            <mat-label>Email Id</mat-label>
                            <input matInput type="text" formControlName="emailFormControl" autocomplete="off" required>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
                                email is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('email')&& !form.controls.emailFormControl.hasError('required')">
                                please enter valid email id
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
                <span fxLayout="row" fxLayoutAlign="space-between end" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                <a routerLink="/register" class="signin">sign up instead</a>
                    <button type="submit"  mat-flat-button color="primary" (click)="onSubmit()">submit</button>                    
                </span>
            </form>
        </mat-card>
    </div>
</div>