.card {   
    min-width: 250px;  
    min-height: 100px;
    border-radius: 10px;
    border: black 3px;
    margin-top: 5%;
}

.input {
    margin-left: 9px;
}

.disabled {
    font-size: 40px;
    padding-top: 200px;
    color: gray;
    pointer-events: none;
    opacity: 0.4;
}
@media only screen and (max-width: 400px) {
    .card{
        width: 300px;
    }
}
@media only screen and (max-width: 595px) {
    .mainclass{
       margin-left: 15%;
    }
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.mat-card-title {
    font-size: 18px;
}

.mat-card-content {
    font-size: 13px;
}
