<div fxLayout="row" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10">
        <mat-card class="card">
            <form [formGroup]="form">
                <div class="fundoo">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                <div>Login to your account</div>
                <form [formGroup]="form">
                    <div>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput type="text" formControlName="emailFormControl" autocomplete="off" required>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('required')">
                                email is required
                            </mat-error>
                            <mat-error *ngIf="form.controls.emailFormControl.hasError('email')&& !form.controls.emailFormControl.hasError('required')">
                                please enter valid email id
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="passFormControl" autocomplete="off" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                            <mat-error *ngIf="form.controls.passFormControl.hasError('required')">
                                password is required
                            </mat-error>

                        </mat-form-field>
                    </div>
                </form>
                <a href="/register" class="signin">sign up instead</a>
                <span fxLayout="row" fxLayoutAlign="end">
                    <button type="submit"  (click)="onubmit()" mat-flat-button color="primary">Login</button>
                </span>
            </form>
        </mat-card>
    </div>
</div>