$white:#ffff;
$red: rgb(234, 67, 53);
$yellow: #fbbc05;
$blue: #4285f4;
$green: #34a853;
$size: 100%;
$borderColor: lightgray;
$white: #fff;
$palletRed: #f28b82;
$palletOrange: #fbbc04;
$palletYellow: #fbfd8d;
$palletGreen: #c6fab1;
$palletCan: #a7ffeb;
$palletLightBlue: #cbf0f8;
$palletBlue: #aecbfa;
$palletPurpl: #d7aefb;
$palletPink: #fdcfe8;
$palletLightOrange: #e6c9a8;
$palletFaint: #e8eaed;
