<div fxLayout="row wrap " fxLayoutGap="20px" *ngIf="!nonoteCondition"  fxLayout="row" fxLayoutAlign="space-around center" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="center start">
    <mat-card class="card" *ngFor="let note of note; let i=index"  appearance="outline" (mouseenter)="onHover(i)" (mouseleave)="onHover(-1)" [style.background]="note.color">
        <div >
            <mat-card-content>
                <mat-card-title>
                    {{note.title}}
                </mat-card-title>
                <mat-card-title>
                    <mat-card-content>
                        {{note.message}}
                    </mat-card-content>
                </mat-card-title>
            </mat-card-content>
        </div>
        <mat-card-content>
            <span [hidden]="!(hoverIndex==i)" class="pannel">
          <app-icons [noteId]="note.id"></app-icons>
        </span>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="noNote()" fxLayout="row" fxLayoutAlign="center center" class="disabled">
    <img src="../../../assets/images/keep.png" alt="icon">
    <div>
        no note to display
    </div>
</div>