<div fxLayout="row wrap" fxLayoutAlign="center center" class="main">
    <div fxLayout="row" fxLayoutGap="10" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="card">
            <form>
                <div class="fundoo" fxLayout="row" fxLayoutAlign="center center">
                    <span class="blue">F</span>
                    <span class="red">u</span>
                    <span class="yellow">n</span>
                    <span class="blue">d</span>
                    <span class="green">o</span>
                    <span class="red">o</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="heading">Change Password</div>
                <div>
                    <mat-form-field class="pass-field" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="Password" autocomplete="off" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-error *ngIf="Password.invalid">
                            {{getPasswordErrorMsg()}}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="pass-field" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <span fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
                <a routerLink="/login" class="signin">sign up now</a>
                <button type="submit" mat-flat-button color="primary" (click)="onSubmit()">submit</button>
                </span>
            </form>
        </mat-card>
    </div>
</div>